  <div class="navbar navbar-fixed-top header">
  <div class="col-md-12">
        <div class="navbar-header">
           <a class="navbar-brand" href="#"> <img src="../images/white_icon_gitlist.png" style="height:46px;width:46px;margin-top: -6px;" class="" alt="avatar"></a>
          <a class="navbar-brand-gitlist" href="#">Gitlist.io <h13>v.0.0.1 </h13><br> <h13>the best <strong> way </strong> to share <strong> Git.</strong> </h13></a>
       <!--   <a href="#" class="navbar-brand">Bootstrap</a> -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <form class="navbar-form pull-left">
              <div class="input-group" style="max-width:470px;">
              <!--  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text"> 
                <div class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div> -->
              </div>
          </form>
               <div class="navbar-brand navbar-brand-centered">
                    <ul class="nav navbar-nav navbar-center">
                    <p class="gitlist-search-option-top">Search your needed Git   <a href="#search"><i class="fa fa-search"></i> Search</a></p> 
                </ul>
               </div>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="http://www.gitlist.io" target="_ext">gitlist+</a></li>
             <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i></a>
                 <ul class="dropdown-menu">
                    <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                    <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                    <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                    <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                    <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                </ul>
             </li>
             <li><a href="#" id="btnToggle"><i class="fa fa-list"></i></a></li>
             <li><a href="#"><i class="fa fa-user"></i></a></li>
             <li><a href="../navbar-fixed-top/" class="btn btn-gitlist-sign-up-black-front" id="color-blue">Sign IN</a></li>
          </ul>
        </div>  
     </div> 
</div>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
          
          <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown" id="gitlist-header-top"><i class="fa fa-home" style="color:#4285f4;"></i> Home <small><i class="fa fa-list"></i></small></a>
          <ul class="nav dropdown-menu">
              <li><a href="#"><i class="fa fa-user-md" style="color:#1111dd;"></i> Profile</a></li>
              <li><a href="#"><i class="fa fa-clipboard" style="color:#0000aa;"></i> Dashboard</a></li>
              <li><a href="#"><i class="fa fa-inbox" style="color:#11dd11;"></i> Pages</a></li>
              <li class="nav-divider"></li>
              <li><a href="#"><i class="fa fa-cog" style="color:#dd1111;"></i> Settings</a></li>
              <li><a href="#"><i class="fa fa-plus"></i> More..</a></li>
          </ul>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
          <ul class="nav navbar-nav navbar"><!-- -right -->
                <li class="active"><a  href="#">Trending</a></li>
          <li><a href="#">Popular Gits</a></li>
          <li><a href="#">Staff Picks</a></li>
          <li><a href="#">Recent Gits</a></li>
          <li><a href="#">Most Voted</a></li>
           </ul>
        </div>  
     </div> 
</div>


<!-- gitlist-sectionspace1 -->
<!-- <section id="gitlist-sectionspace1-details1-join-gitlist" class="home">
  <div class="text-vcenter">
    <h1>Gitlist.io</h1>

 </div>
</section> -->
<!-- /gitlist-sectionspace1 --> 


    <!--

<div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div> -->


<!--

            <section id="cta">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-wrapper">
                                    <h4>Ready to start? Create your free account now</h4>
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                <input id="Name" name="Name" type="text" class="form-control input-md" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                <input id="Email" name="Email" type="text" class="form-control input-md" placeholder="Email">
                                        </div>
                                    
                                                      <button  class="btn btn-primary btn-gitlist-newsltter-sign" onclick="postContactToGoogle()" type="button">Sign Up</button> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->

<!-- gitlist-sectionspace1 -->

<!--
<section id="gitlist-sectionspace1-details1-join-gitlist-by-twitter" class="home">
<div class="gitlist-ss-tw-inner">

<h2 class="gitlist-front-h2">Daily dose of Unlimited Git Inspiration</h2>
<h3 class="gitlist-front-h3">Get the best Git News and Codes for your Minds</h3><p>
<a class="btn btn-primary social-login-btn social-github" href="/auth/github" id="front-btn-g"><i class="fa fa-github"></i> Join with Github</a>
  <a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter" id="front-btn-t"><i class="fa fa-twitter"></i> Join with Twitter</a></p>

</div>
</section> -->
<!-- /gitlist-sectionspace1 --> 

<!-- gitlist-sectionspace-about-top -->
<section id="gitlist-sectionspace-user-edit-gitlist" class="pad-section">
              <div class="container editusersgitlist" id="gitlist-container">

                   <div class="row">
      <!-- left column -->
      <div class="col-lg-4 col-lg-offset-4" id="gitlist-users-profile">
          <img src="https://pbs.twimg.com/profile_images/510538354606100484/MeeKLsxw_200x200.png" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>

          <br>


                <input type="file" id="inputfile">

          
          <input type="file" class="form-control">

                                    <h2 class="page-header-addgitlist">Account Settings</h2><br>

      </div>  
</div>
                           




 <form class="form-signin" data-ember-action="2">

  <div class="col-md-4 col-lg-12 center-block">
<a class="btn btn-primary social-login-btn social-github center-block" href="/auth/github"><i class="fa fa-github"></i></a>
  <a class="btn btn-primary social-login-btn social-twitter center-block" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
   </div>

        <small class="text-muted">Already a Member? SignIn to <a href="#" id="underline">Gitlist</a></small>
        <br><br>
        
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="First Name" type="text">
          <br>
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="Last Name" type="text">
          <br>
           <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="Your Job" type="password">
          <br>
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input-pass" placeholder="e-Mail" type="password">
          <br>
           <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input-pass" placeholder="Type e-Mail again" type="password">
          <br>


            <label class="checkbox">
          <input type="checkbox" value="terms-agree">by clicking the button agreeing our terms of service.
                <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Sign in</button>

        </label>


          <script id="metamorph-22-start" type="text/x-placeholder"></script>
          <script id="metamorph-22-end" type="text/x-placeholder"></script>
<br>
          <br>
        <!--  <small class="create-account text-muted">Dont have a [your service] or social network account? <button id="ember363" class="ember-view btn btn-sm btn-default"> Sign Up </button> </small> -->

    
      </form>




                      </div> 
                </div>
          </section>










<!-- gitlist-sectionspace-about -->
<section id="gitlist-sectionspace-user-edit-gitlist" class="pad-section">
  <div class="container editusersgitlist" id="gitlist-container">
   <div class="row">
           <!--     <h2 class="page-header-about">Our Team</h2> -->
            </div>
            <div class="col-xs-6">
               
            </div>     
  </div>
</section>



<!-- gitlist-sectionspace-about-top -->
<!--
<section id="gitlist-sectionspace-add-gitlist-list" class="pad-section">
              <div class="container addgitlist" id="gitlist-container">
                  <div class="row">
                                <h2 class="page-header-addgitlist">What is Gitlist?</h2><br>
                                <p class="page-p-addgitlist">Gitlist is a Git Sharing Network for Coders, Programmers and Web Designer to share they current Gits Online to the Public.</p>

                      </div> 
                </div>
          </section> -->


<!-- /gitlist-sectionspace1 --> <!-- gitlist-sectionspace3 -->
<!--<section id="gitlist-sectionspace-alerts" class="pad-section">
  <div class="container alerts-adds">
    <div class="row">
      <div class="col-sm-12 text-center">
      <div class="alert alert-error">  
  <a class="close" data-dismiss="alert" id="gitlist-banner-1">×</a>  
Hey, developers! Check out this collection of fun and useful <strong>Github</strong> products.     
  <button type="button" class="btn btn-primary btn-lg">
      View Collection
   </button>
</div> --> <!--
<div class="alert alert-success">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Success!</strong>You have successfully done it.  
</div> --> <!--
<div class="alert alert-info">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Info!</strong>Watch this, but you may forget.  
</div>  -->

    <!--  </div>
    </div>
  </div>
</section> -->


<!-- /gitlist-sectionspace-rest-part-1 --> 

<!--
<section id="gitlist-sectionspace-rest-part-1">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Start your Free Gitlist Today!
                    </h2><br>
                    <a href="#" class="btn btn-default btn-lg" data-toggle="modal" data-target="#largeModal"> <i class="fa fa-sort-amount-desc"></i> SIGN UP</a>
                </div>
            </div>
</section>
-->





<footer class="footer">
      <div class="container">
      
   <!--   <p class="text-center" id="gitlist-copyright"> <strong>123490 Users </strong>Sign Up - SignUp Today <br> ©.2014-2015 cobyright by gitlist.io - Developet by <a href="https://twitter.com/LucasGatsas"> Lucas Gatsas </a> and 
      <a href="https://twitter.com/LucasGatsas">  Giancarlo Soverini </a></p> -->

            <ul class="footer-links-list-copyright">
                <li> <p class="text-muted"> <code id="gitlist-counter-footer"><strong id="gitlist-counter-color-footer">123490 Users @ gitlist</strong> </code>  SignUp Today <br>  ©.2014-2015 cobyright by gitlist.io - Developet by <a href="https://twitter.com/LucasGatsas"> Lucas Gatsas </a> and 
      <a href="https://twitter.com/LucasGatsas">  Giancarlo Soverini </p></li>

            </ul>
        <ul class="footer-links-list">
                <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line"> Home</a></li>
                <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line"> About</a></li>
                <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line"> Blog</a></li>
                <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line"> Terms</a></li>
                <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line"> Privacy</a></li>
                <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line"> Contact</a></li>
                <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line-social-fotter"><i class="fa fa-github"></i></a></li>
                <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line-social-fotter"><i class="fa fa-twitter"></i></a></li>   <hr>
        </ul>
      </div>
        <hr/>
    </footer>