 <div class="container alerts-adds">
                <div class="row">
                  <div class="col-sm-12 text-center">
                  <div class="alert alert-error">  
                  <a class="close" data-dismiss="alert" id="gitlist-banner-1">×</a>  
                    Hey, Developers! Check out the New Start Up 
                    <strong>Gitlist </strong> and share your Gits Today.    
                    <button type="button" class="btn btn-primary btn-lg"><a href="../g/login" style="color:white">Sign Up</a>.</button>
                    </div>  
                    <!--<div class="alert alert-success">  
                    <a class="close" data-dismiss="alert">×</a>  
                    <strong>Success!</strong>You have successfully done it.  
                    </div> --> <!--
                    <div class="alert alert-info">  
                    <a class="close" data-dismiss="alert">×</a>  
                    <strong>Info!</strong>Watch this, but you may forget.  
                    </div>   -->
                    </div>
                  </div>
                </div>