 <p class="gitlist-sign-up-in-copyright-footer"> ©. Copyright <%= new Date().getFullYear() %> by Gitlist. all rights reserved. <br> Gitlist Version.0.0.1 <!--Gitlist was founded and developed by <a href="https://www.twitter.com/lucasgatsas" target="_blank">Lucas Gatsas</a>. --> 




  </p>