



          
<!-- NAVBAR USER GITS, BEST, RECENT, BEST VOTED
 -->


 <!--
<nav class="navbar navbar-default" role="navigation" id="gitlist-userpage-navbar-01">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse fixed" id="git-nnnnaaa">
        <ul class="nav navbar-nav">
          <li class="active"><a  href="/git/usergitlisted" id="sign-up-to-gitlist"><i class="fa fa-paper-plane-o"></i>  SIGN UP to GITLIST for FREE Today!</a></li>
      
        </ul>
      </div>
    </nav> --> 

