   
<!-- Adding here the footer links and social media icons etc. --> 


    <li> <a href="/" id="footer-gl-line"> Home</a></li>
              <li> <a href="/info/about" id="footer-gl-line"> About</a></li>
              <li> <a href="https://gitlist.github.io/" id="footer-gl-line" target="_blank"> Blog</a></li>
              <li> <a href="/info/terms" id="footer-gl-line"> Terms</a></li>
              <li> <a href="/info/privacy" id="footer-gl-line"> Privacy</a></li>
              <li> <a href="/info/contact" id="footer-gl-line"> Contact</a></li>
              <li> <a href="https://facebook.com/gitlist" id="footer-gl-line-social-fotter" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li> <a href="https://github.com/gitlist" id="footer-gl-line-social-fotter" target="_blank"><i class="fa fa-github"></i></a></li>
            <li> <a href="https://twitter.com/LucasGatsas" id="footer-gl-line-social-fotter" target="_blank"><i class="fa fa-twitter"></i></a></li> 