    <p class="text-muted"> 
            <code id="gitlist-counter-footer">
              <strong id="gitlist-counter-color-footer"><span id="userNum"></span> Users @ gitlist</strong> 
            </code>   
        <br> SignUp Today @ Gitlist! 
    </p>

<script type="text/javascript">
	$.post(
		'/getUsers',
		{},
		function (res) {  
			$("#userNum").text(res);
    	}
    );
</script>    