<%- partial ('../partials/topbar.ejs') %>

<style> 
h2.title.text-center {
    color: #4183c4;
}
.text-center {
    text-align: center;
}
.centered {
    text-align: center;
}
</style> 

        <section id="gitlist-top-abstand"></section>

<!-- gitlist-sectionspace-about-top -->
<!--
<section id="gitlist-sectionspace-about-top" class="pad-section">
              <div class="container about" id="gitlist-container">
                  <div class="row">

                           <i class="fa fa-server" id="gitlist-server-icon"></i>
                          <h2 class="page-header-about">ABOUT</h2><br>
                              <p class="page-p-about">Gitlist was found by
                              Lucas Gatsas </p> 
                      </div> 
                </div>
          </section> -->

<!-- gitlist-sectionspace-about -->
<section id="gitlist-sectionspace-about" class="pad-section">
  <div class="container about" id="gitlist-container">
   <div class="row">
           <!--     <h2 class="page-header-about">Our Team</h2> -->
            </div>
            <div class="col-lg-12 col-sm-12 text-center">
                <img class="img-circle img-responsive img-center" src="https://pbs.twimg.com/profile_images/598639420363923456/zLAW5YPs.jpg" alt="" style="width:130px;
/* margin-top: -60px; */
/* margin-bottom: 20px; */
width: 120px;
height: 120px;
background-color: #fff;
border: 3px solid #fff;
z-index: 0;
border-radius: 100%;
box-shadow: 0 1px 1px rgba(0,0,0,0.3);">
                <h3 class="page-header-about-h3">Lucas Gatsas<br>
                   <small> CEO  FOUNDER and Developer of Gitlist<br><br></small>
                         <a href="http://www.twitter.com/lucasgatsas" style="margin-left:10px;" target="_blank"></i><i class="fa fa-twitter" style="margin-left:10px;font-size: 43px;"></i></a>
                </h3>
             
  </div>
</section>

<!-- gitlist-sectionspace-about-top -->
<section id="gitlist-sectionspace-about-top" class="pad-section">
              <div class="container about" id="gitlist-container">
                  <div class="row">

                          <!-- <i class="fa fa-server" id="gitlist-server-icon"></i>-->
                                <h2 class="page-header-about">What is Gitlist?</h2><br>
                                <p class="page-p-about">Gitlist is a Git Sharing Network for Coders, <br>Programmers and Web Designer to share they current Gits Online to the Public.</p>

                                    <h2 class="page-header-about">Who founded and main developed Gitlist?</h2><br>
                                <p class="page-p-about">Gitlist is founded and developed by Lucas Gatsas on 1. of January 2015. In Help with some good Developers around the Globe. This Start Up is built only Online. No Meetings Up, No Investment only Online Development.  Special Thanks to my Online Army Giancarlo Soverini, Rabin Zhang, Helen Homles, Mike McNeil, Ionica Bizau to realize this Start Up.  </p>
                             


                              <!--   <h2 class="page-header-about">ABOUT</h2><br>
                                 <p class="page-p-about">Gitlist Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p> --> 


                      </div> 
                </div>
          </section>


  <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center"> <!--<i class="fa fa-shield" id="black-flag-to-get-ready"></i> --> <br> How Can gitlist Help You?</h2>
                            <p class="lead centered">Sign Up for Free to Gitlist and Submit your Git Today.</p>
            <br><br><br><br>
            <!-- Section Middle and img are in center --> 
            <section class="featurette" id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="../images/figure-4.png" class="img-responsive center-block" alt="">
                            <br><br><br><br>
                            <h2 class="featurette-heading centered">Get Community <br><span class="text-muted">and Share your Git's</span></h2><br>
                            <p class="lead centered">Sign Up for Free to Gitlist and Submit your Git Today.</p>
    <p class="text-center">
                                <a href="../g/login" class="btn btn-success btn-outline-rounded green"> start using gitlist<i class="fa fa-paper-plane" style="margin-left:10px;"></i></a>
                            </p>                        </div>
                    </div><!--/row-->
                </div>
            </section>
            <br><br>
        </div>
    </section>



<!-- /gitlist-sectionspace1 --> <!-- gitlist-sectionspace3 -->
<!--<section id="gitlist-sectionspace-alerts" class="pad-section">
  <div class="container alerts-adds">
    <div class="row">
      <div class="col-sm-12 text-center">
      <div class="alert alert-error">  
  <a class="close" data-dismiss="alert" id="gitlist-banner-1">×</a>  
Hey, developers! Check out this collection of fun and useful <strong>Github</strong> products.     
  <button type="button" class="btn btn-primary btn-lg">
      View Collection
   </button>
</div> --> <!--
<div class="alert alert-success">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Success!</strong>You have successfully done it.  
</div> --> <!--
<div class="alert alert-info">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Info!</strong>Watch this, but you may forget.  
</div>  -->

    <!--  </div>
    </div>
  </div>
</section> -->












<footer class="footer">
      <div class="container">
            <ul class="footer-links-list-copyright">
                <li> 
                  <%- partial ('../partials/gitlist-user-counter.ejs') %>  
               </li>
            </ul>
        <ul class="footer-links-list">
                  <%- partial ('../partials/gitlist-social-footer.ejs') %>  
            <hr>
        </ul>
      </div>
        <hr/>
            <div class="inner-gitlist-copyright">
                  <%- partial ('../partials/copyright.ejs') %>  
            </div>
    </footer>