<%- partial ('../partials/topbar.ejs') %>


          <section id="gitlist-top-abstand"></section>

<style>

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/gitlist-wall-1-1.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 768px){
header {
    min-height: 100%;
}
}

@media (min-width: 768px){
header .header-content {
    /* position: absolute; */
    /* margin-top: 30%; */
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 200px;
}
}
</style>



      <!-- gitlist-sectionspace-contact-top -->
<section id="gitlist-sectionspace-about-top" class="pad-section">
              <div class="container about" id="gitlist-container">
                  <div class="row">

                           <i class="fa fa-server" id="gitlist-server-icon"></i>
                          <h2 class="page-header-about">get connections</h2><br>
                               <p class="page-p-about">need help?</p>
                      </div> 
                </div>
          </section>





<header>
        <div class="header-content">
            <div class="header-content-inner"><br><br> 
                <h1 style="font-size: 34px;" class="">Made in Switzerland (St. Gallen)<br>  for the IT Industry</h1><br>

                <p>If you have any Question or Feel Free to Work with Us. <br>Please Contact Us here in our Office in St Gallen Switzerland.</p><br> 
                <a href="mailto:hello@gitlist.io" class="btn btn-primary btn-xl page-scroll">Contact Us</a>
            </div>
        </div>
    </header>





<div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   <!-- <small>Item Subheading</small> --> 
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

          <!--  <div class="col-md-8">
                <img class="img-responsive" src="../images/gitlist-wall-1-1.png" alt="">
            </div> --> 

            <div class="col-md-4">
                <h3>Contact Gitlist</h3>
                <p>Gitlist.io <br>  St. Gallen <br> CH - Switzerland <br> email: hello@gitlist.io</h3>
                
            </div>

        </div>
        <!-- /.row -->

        <!-- 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
Related Projects Row -->
        <hr>

       

    </div>



<!-- /gitlist-sectionspace-rest-part-1 --> 
<section id="gitlist-sectionspace-rest-part-1">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Start your Free Gitlist Today!
            </h2><br>
    <p class="text-center">
    <a href="../g/login" class="btn btn-success btn-outline-rounded green"> start using gitlist<i class="fa fa-paper-plane" style="margin-left:10px;"></i></a>
        </p>              
    </div>
    </div>
</section>




<footer class="footer">
      <div class="container">
            <ul class="footer-links-list-copyright">
                <li> 
                  <%- partial ('../partials/gitlist-user-counter.ejs') %>  
               </li>
            </ul>
        <ul class="footer-links-list">
                  <%- partial ('../partials/gitlist-social-footer.ejs') %>  
            <hr>
        </ul>
      </div>
        <hr/>
            <div class="inner-gitlist-copyright">
                  <%- partial ('../partials/copyright.ejs') %>  
            </div>
    </footer>
