<script src="/js/notify.js"></script>

<style>
  #preloader {position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff; /* change if the mask should have another color then white */z-index:99; /* makes sure it stays on top */}#status {width:200px;height:200px;position:absolute;left:50%; /* centers the loading animation horizontally one the screen */top:50%; /* centers the loading animation vertically one the screen */background-image:url(); /* path to your loading animation */background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -100px; /* is width and height divided by two */}ul, ol {margin-top: 0;margin-bottom: 10px;list-style: none;}.navbar-inverse {background-color: #FFF;border-color: #FFFFFF;}</style><!-- <link rel="stylesheet" href="{{ "/css/prettify.css" | prepend: site.baseurl }}">--> <style>header.intro-header {background: #6f5499;background: no-repeat center center;background-attachment: scroll;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}/* Preloader */#preloader {position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff; /* change if the mask should have another color then white */z-index:99; /* makes sure it stays on top */}#status {width:200px;height:200px;position:absolute;left:50%; /* centers the loading animation horizontally one the screen */top:50%; /* centers the loading animation vertically one the screen */background-image:; /* path to your loading animation */background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -100px; /* is width and height divided by two */} li {list-style: none;}li{list-style: none;}body.modal-open{overflow: hidden;padding-right: 0px;}
</style>
<div id="preloader">
  <div id="status"> &nbsp;</div> 
</div>
<div class="navbar navbar-fixed-top header" id="gitlist-col-top">
  <div class="col-md-12">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> 
        <i class="fa fa-sort-amount-desc" id="gitlist-logo"></i>
        <!--<img src="../images/white_icon_gitlist.png" style="height:46px;width:46px;margin-top: -6px;" class="" alt="avatar"> --> </a>
      <a class="navbar-brand-gitlist" href="#">Gitlist <!-- <h13>v.0.0.1 </h13><br> <h13>the best <strong id="gitlist-sign-up-stylesheet"> way </strong> to share <strong id="gitlist-sign-up-stylesheet"> Git.</strong> </h13> --></a>
      <!--   <a href="#" class="navbar-brand">Bootstrap</a> -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
<i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse"  id="navbar-collapse1 gitlist-col-top" style="background:none;">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="btn btn-gitlist"><i class="fa fa-arrow-circle-o-left"></i> Back to Gitlist</a></li>
          <li><a href="/g/signup"  id="color-blue" class="btn btn-gitlist-sign-up">Sign Up</a></li>
      </ul>
    </div>  
  </div> 
</div>
<div class="site-wrapper">
  <div class="site-wrapper-inner-signup-gitlist-1">
    <div class="cover-container">
      <div class="inner cover">
        <h2 class="form-signin-heading">Sign In</h2>
  	    <div class="col-md-4 col-lg-12 center-block"></div>   
        <br>
        <div id="login-form" class="form-signin">

        <!--  <a class="btn btn-primary social-login-btn social-github center-block" href="/auth/github"><i class="fa fa-github"></i></a>
          <a class="btn btn-primary social-login-btn social-twitter center-block" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
                         <br>     <small class="text-muted">Or Sign In with our oAuth Api from Twitter and Github: <a href="/g/signup" id="underline"></a> --> </small><br>

          <br>
          <small class="text-muted">Not a Member? Sign up on <a href="/g/signup" id="underline">Gitlist</a></small>
          <br><br>       
          <input type="email" id="loginEmail" name="email" class="form-control login-input" placeholder="Username or E-mail" required="" autofocus=""> 
          <br>
          <input id="loginPassword" name="password" type="password" class="form-control login-input" placeholder="Password">
          <br>
          <label class="checkbox">
            <input id="terms" name="terms" type="checkbox" value="1" checked=""> Remember Me
          </label>
          <input type="text" id="fakeinput" name="fakeinput" value="" class="hidden">  
          <button class="loginBtn btn btn-lg btn-primary btn-block"  id="color-blue">LOG IN</button>
          <br>
          <div>
            <a href="/g/forgot">Forgot your password?</a>
          </div>
        </div>
      </div>
      <div class="inner">
        <%- partial ('../partials/copyright.ejs') %> 
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  //<![CDATA[
    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(15).fadeOut('fast'); // will fade out the white DIV that covers the website.
      $('body').delay(15).css({'overflow':'visible'});
    })
  //]]>

  // Enter key press
  $("#loginPassword").keyup(function(e){
      if(e.which == 13){
        var email = $("#loginEmail").val();
        var password = $("#loginPassword").val();
        if (email && password) {
            $.post(
                '/login',
                {email: email, password:password},
                function (res) {
                    var message = res.message;               
                    if (message != "Invalid Password" && message != "Incorrect email."){
                      window.location = "/";
                    }
                    else{
                      $.notify("Invalid Email and Password", "error");
                    }
                }
            ).fail(function(res){
                $.notify("Error!", "error");
            });
        } else {
            $.notify("A username and password is required", "error");
        }      
      }
  });

  // Login button click
  $(".loginBtn").click(function(){
    var email = $("#loginEmail").val();
    var password = $("#loginPassword").val();
    if (email && password) {
        $.post(
            '/login',
            {email: email, password:password},
            function (res) {
                var message = res.message;               
                if (message != "Invalid Password" && message != "Incorrect email."){
                  window.location = "/";
                }
                else{
                  $.notify("Invalid Email and Password", "error");
                }
            }
        ).fail(function(res){
            $.notify("Error!", "error");
        });
    } else {
        $.notify("A username and password is required", "error");
    }
  });
</script> 
