<%- partial ('../partials/topbar-without-menu.ejs') %>
<section id="gitlist-top-abstand"></section>
<div class="container" id="gitlist-forgot-password-top-1">
    <div class="row">    
        <div class="col-md-6 col-md-offset-3" id="gitlist-forgot-password">
            <h4 style="border-bottom: 1px solid rgba(197, 197, 197, 0.27);">
                <i class="fa fa-user" id="gitlist-user-icon"></i>
                New Password
                <br>
            </h4>
            Type your New Password.
            <div style="padding: 20px;" id="form-olvidado">
                <div class="reset-password-form" id="login-form">
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group"> <span class="input-group-addon" style="border-radius: 4px; border-bottom-right-radius: 0; border-top-right-radius: 0;">
                            <span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" name="password" id="newPwd" placeholder="Password" required data-toggle="popover" title="Password Strength" data-content="Enter Password..." style="border-radius: 4px; border-bottom-left-radius: 0; border-top-left-radius: 0;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <div class="input-group"> <span class="input-group-addon" style="border-radius: 4px; border-bottom-right-radius: 0; border-top-right-radius: 0;">
                            <span class="glyphicon glyphicon-resize-vertical"></span></span>
                            <input type="password" class="form-control" name="confirm" id="newCnfPwd" placeholder="Confirm Password" required style="border-radius: 4px; border-bottom-left-radius: 0;border-top-left-radius: 0;">
                        </div>
                    </div>
                    <div class="form-group">       
                        <p class="help-block">
                            <a class="update-password-button btn btn-gitlist-forgot-password-front" id="color-blue">Update</a>
                            <a class="pull-right text-muted" href="/g/forgot" ><small>Forgot your password?</small></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(".update-password-button").click(function(){    
      var email = getUrlVars()['email'];
      var newpassword = $("#newPwd").val();
      var newconfirmpassword = $("#newCnfPwd").val();
      if (newpassword && newconfirmpassword) {
          if (newpassword === newconfirmpassword) {
              $.post(
                  '/password',
                  {email: email, password: newpassword},
                  function () {
                    $.notify("Password Updated!", "success");
  //                  window.location = "/password";
                  }
              ).fail(function(res){
                  $.notify("Error!", "error");
              });        
          }else{
              $.notify("Passwords don't match!", "error");
          }
      } else {
          $.notify("Password is required!", "error");
      }
    });
</script> 