<%- partial ('../partials/topbar.ejs') %>


<!-- gitlist-sectionspace1 -->
<!-- <section id="gitlist-sectionspace1-details1-join-gitlist" class="home">
  <div class="text-vcenter">
    <h1>Gitlist.io</h1>

 </div>
</section> -->
<!-- /gitlist-sectionspace1 --> 


    <!--

<div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div> -->


<!--

            <section id="cta">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-wrapper">
                                    <h4>Ready to start? Create your free account now</h4>
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                <input id="Name" name="Name" type="text" class="form-control input-md" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                <input id="Email" name="Email" type="text" class="form-control input-md" placeholder="Email">
                                        </div>
                                    
                                                      <button  class="btn btn-primary btn-gitlist-newsltter-sign" onclick="postContactToGoogle()" type="button">Sign Up</button> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->

<!-- gitlist-sectionspace1 -->

<!--
<section id="gitlist-sectionspace1-details1-join-gitlist-by-twitter" class="home">
<div class="gitlist-ss-tw-inner">

<h2 class="gitlist-front-h2">Daily dose of Unlimited Git Inspiration</h2>
<h3 class="gitlist-front-h3">Get the best Git News and Codes for your Minds</h3><p>
<a class="btn btn-primary social-login-btn social-github" href="/auth/github" id="front-btn-g"><i class="fa fa-github"></i> Join with Github</a>
  <a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter" id="front-btn-t"><i class="fa fa-twitter"></i> Join with Twitter</a></p>

</div>
</section> -->




<!-- /gitlist-sectionspace1 --> 

<!-- gitlist-sectionspace-about-top -->
<section id="gitlist-sectionspace-user-edit-gitlist" class="pad-section">
              <div class="container editusersgitlist" id="gitlist-container">

                   <div class="row">
      <!-- left column -->
      <div class="col-lg-4 col-lg-offset-4" id="gitlist-users-profile">
          <img src="https://pbs.twimg.com/profile_images/510538354606100484/MeeKLsxw_200x200.png" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>

          <br>


                <input type="file" id="inputfile">

          
          <input type="file" class="form-control">

                                    <h2 class="page-header-addgitlist">Account Settings</h2><br>

      </div>  
</div>
                           




 <form class="form-signin" data-ember-action="2">

  <div class="col-md-4 col-lg-12 center-block">
<a class="btn btn-primary social-login-btn social-github center-block" href="/auth/github"><i class="fa fa-github"></i></a>
  <a class="btn btn-primary social-login-btn social-twitter center-block" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
   </div>

        <small class="text-muted">Already a Member? SignIn to <a href="#" id="underline">Gitlist</a></small>
        <br><br>
        
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="First Name" type="text">
          <br>
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="Last Name" type="text">
          <br>
           <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="Your Job" type="password">
          <br>
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input-pass" placeholder="e-Mail" type="password">
          <br>
           <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input-pass" placeholder="Type e-Mail again" type="password">
          <br>


            <label class="checkbox">
          <input type="checkbox" value="terms-agree">by clicking the button agreeing our terms of service.
                <button class="btn btn-lg btn-primary btn-block " type="submit" data-bindattr-3="3" id="color-blue">Update Profile</button>

        </label>


          <script id="metamorph-22-start" type="text/x-placeholder"></script>
          <script id="metamorph-22-end" type="text/x-placeholder"></script>
<br>
          <br>
        <!--  <small class="create-account text-muted">Dont have a [your service] or social network account? <button id="ember363" class="ember-view btn btn-sm btn-default"> Sign Up </button> </small> -->

    
      </form>




                      </div> 
                </div>
          </section>










<!-- gitlist-sectionspace-about -->
<section id="gitlist-sectionspace-user-edit-gitlist" class="pad-section">
  <div class="container editusersgitlist" id="gitlist-container">
   <div class="row">
           <!--     <h2 class="page-header-about">Our Team</h2> -->
            </div>
            <div class="col-xs-6">
               
            </div>     
  </div>
</section>



<!-- gitlist-sectionspace-about-top -->
<!--
<section id="gitlist-sectionspace-add-gitlist-list" class="pad-section">
              <div class="container addgitlist" id="gitlist-container">
                  <div class="row">
                                <h2 class="page-header-addgitlist">What is Gitlist?</h2><br>
                                <p class="page-p-addgitlist">Gitlist is a Git Sharing Network for Coders, Programmers and Web Designer to share they current Gits Online to the Public.</p>

                      </div> 
                </div>
          </section> -->


<!-- /gitlist-sectionspace1 --> <!-- gitlist-sectionspace3 -->
<!--<section id="gitlist-sectionspace-alerts" class="pad-section">
  <div class="container alerts-adds">
    <div class="row">
      <div class="col-sm-12 text-center">
      <div class="alert alert-error">  
  <a class="close" data-dismiss="alert" id="gitlist-banner-1">×</a>  
Hey, developers! Check out this collection of fun and useful <strong>Github</strong> products.     
  <button type="button" class="btn btn-primary btn-lg">
      View Collection
   </button>
</div> --> <!--
<div class="alert alert-success">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Success!</strong>You have successfully done it.  
</div> --> <!--
<div class="alert alert-info">  
  <a class="close" data-dismiss="alert">×</a>  
  <strong>Info!</strong>Watch this, but you may forget.  
</div>  -->

    <!--  </div>
    </div>
  </div>
</section> -->


<!-- /gitlist-sectionspace-rest-part-1 --> 

<!--
<section id="gitlist-sectionspace-rest-part-1">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Start your Free Gitlist Today!
                    </h2><br>
                    <a href="#" class="btn btn-default btn-lg" data-toggle="modal" data-target="#largeModal"> <i class="fa fa-sort-amount-desc"></i> SIGN UP</a>
                </div>
            </div>
</section>
-->






<footer class="footer">
      <div class="container">
            <ul class="footer-links-list-copyright">
                <li> 
                  <%- partial ('../partials/gitlist-user-counter.ejs') %>  
               </li>
            </ul>
        <ul class="footer-links-list">
                  <%- partial ('../partials/gitlist-social-footer.ejs') %>  
            <hr>
        </ul>
      </div>
        <hr/>
            <div class="inner-gitlist-copyright">
                  <%- partial ('../partials/copyright.ejs') %>  
            </div>
    </footer>
